{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">
	<head> <!--- teste -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>CRUD com Bootstrap 3</title>
		
		<link href="{% static "core/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
		<link href="{% static "core/bootstrap/css/style.css" rel="stylesheet">
	</head>
	<body> 
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Web Dev Academy</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">Início</a></li>
						<li><a href="#">Opções</a></li>
						<li><a href="#">Perfil</a></li>
						<li><a href="#">Ajuda</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<br></br>
		<div id="main" class="container-fluid">
			<h3 class="page-header">Adicionar Item</h3>
 			<form action="index.html">
		  		<hr/>
				<div id="actions" class="row">
			    	<div class="col-md-12">
			      		<button type="submit" class="btn btn-primary">Salvar</button>
			      		<a href="./" class="btn btn-default">Cancelar</a>
			   		</div>
		  		</div>
			</form>
		</div>
		<script src="{% static "core/jquery/js/jquery.min.js" %}"></script>
		<script src="{% static "core/bootstrap/js/bootstrap.min.js" %}"></script>
	</body>
</html>