{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>EasyBus - Uma aplicação amigavel aos usuários de transporte coletivo =)</title>
		
		<link href="{% static "core/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
		<link href="{% static "core/bootstrap/css/style.css" rel="stylesheet">
	</head>
	<body> 
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">EasyBus</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">Início</a></li>
						<li><a href="#">Opções</a></li>
						<li><a href="#">Perfil</a></li>
						<li><a href="#">Ajuda</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<br>
		<div id="main" class="container-fluid">
 			{% block content %}
			{% endblock %}
		</div>
		<script src="{% static "core/jquery/js/jquery.min.js" %}"></script>
		<script src="{% static "core/bootstrap/js/bootstrap.min.js" %}"></script>
	</body>
</html>