
{% extends 'core/baseItens/baseListCRUD.html' %}

{% load staticfiles%}

{% block list_head_script_source %}
    <script src="{% static "core/js/masks.js" %}"></script>
{% endblock %}

{% block 'list' %}
<div id="main" class="container-fluid" style="margin-top: 50px">

 	<div id="top" class="row">
		<div class="col-sm-3">
			<br>
			<h4>Lista de Disciplinas</h4>
		</div>
		<!-- SEARCH BOX -->
		<!-- SEARCH BOX -->
		<div class="col-sm-6">
			<div class="input-group h2">
				<input name="data[search]" class="form-control" id="search" type="text" placeholder="Pesquisar disciplinas por nome">
				<span class="input-group-btn">
					<button class="btn btn-primary" type="submit">
						<span class="glyphicon glyphicon-search"></span>
					</button>
				</span>
			</div>
		</div> 
		<!-- SEARCH BOX -->
		<!-- SEARCH BOX -->
		<div class="col-sm-3">
			<a data-popup-open="popup-1" class="btn btn-primary pull-right h2">Cadastrar nova disciplina</a>
		</div>
	</div> <!-- /#top -->
 	<hr />
 	<div id="list" class="row">
	<div class="table-responsive col-md-12">
		<table class="table table-striped" cellspacing="0" cellpadding="0">
			<thead>
				<tr>
                    <th>ID</th>
					<th>Código da Disciplina</th>
					<th>Nome da Disciplina</th>
					<th class="actions">Ações</th>
				</tr>
			</thead>
			<tbody>
				{% for disciplina in Disciplinas %}
					<tr>
                        <td id="ID">{{disciplina.id}}</td>
						<td>{{disciplina.codigo}}</td>
						<td>{{disciplina.nome}}</td>
						<td class="actions">
							<a class="btn btn-warning btn-xs" onclick="callEdit({{disciplina.id}})" >Editar</a>
							<a class="btn btn-danger btn-xs"  href="deletar/{{disciplina.id}}" >Deletar</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	</div>
<!--
#                                                     #
# ---------------------- POPUP ---------------------- #
#                                                     #
-->

<div class="popup" data-popup="popup-1">
    <div class="popup-inner">
    <h2 class="page-header" id="addTitle">Cadastrar nova disciplina</h2>
        <form role="form" action="" method="POST"> {% csrf_token %}
            <fieldset>

				<div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-lock"></i>
                        </span>
                        <input class="form-control" placeholder="Código da disciplina" id="cod" name="codigo" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-education"></i>
                        </span>
                        <input class="form-control" placeholder="Nome da disciplina" id="nome" name="nome" type="text" pattern="^[A-ZÀ-úa-z\s]+$" title="Apenas letras são permitidas" required>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-primary" data-popup-close="popup-1" id="nomeBotao" value="Cadastrar">
                    <a class="btn btn-default" data-popup-close="popup-1" id="fechar">Cancelar</a>
                </div>

            </fieldset>
        </form>
    </div>
</div>

<!--
#                                                     #
# ---------------------- POPUP ---------------------- #
#                                                     #
-->

<script>
$(function() {
//----- OPEN ---------------------------------------------------------------
	$('[data-popup-open]').on('click', function(e)  {
		var targeted_popup_class = jQuery(this).attr('data-popup-open');
		$('[data-popup="' + targeted_popup_class + '"]').fadeIn(300);
		e.preventDefault();
		document.getElementById("addTitle").innerHTML = "Cadastrar nova disciplina";
		$("#nomeBotao").val('Cadastrar');
		$("#cod").val("");
		$("#nome").val("");
		$("#cod").attr('readonly', false);
		$("#cod").focus();
	});
//----- CLOSE ---------------------------------------------------------------
	$("#fechar").click(function(){
		$(".popup").hide();
	});

	if($("#cod").val() == "" || $("#nome").val() == ""){
	} else {
		$('[data-popup-close]').on('click', function(e)  {
			var targeted_popup_class = jQuery(this).attr('data-popup-close');
			$('[data-popup="' + targeted_popup_class + '"]').hide();
		});
	}
});
</script>
</div>

{% endblock 'list' %}