{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">
	<head>
		<title> Bootstrap, from Twitter</title>
		<link href="{% static "core/bootstrap/css/bootstrap.css" %}" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<span class="label label-info"> Usuário: estude[py]</span>
			<h1>Django com Twitter Bootstrap</h1>
			<p>
				Tutorial passo-a-passo
				<a href="#" class="btn btn-primary"><i class="icon-tasks icon-white"></i>&nbsp;Detalhes....</a>
			</p>
				<div class="alert alert-info">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<h4>Information!</h4>
					Estude[py] - Django com Twitter Bootstrap.
				</div>
		</div>
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<script type="{% static "core/bootstrap/js/bootstrap.js" %}"></script>
	</body>
</html>
	