{% extends 'core/newBase.html' %}

{% block content %}
<h3 class="page-header">Adicionar Item</h3>
<form action="index.html">
	<div class="row">
	 <div class="form-group col-md-4">
	   <label for="campo1">Campo Um</label>
	   <input type="text" class="form-control" id="campo1">
	 </div>
	 
	 <div class="form-group col-md-4">
	   <label for="campo2">Campo Dois</label>
	   <input type="text" class="form-control" id="campo3">
	 </div>
	 
	 <div class="form-group col-md-4">
	   <label for="campo3">Campo Três</label>
	   <input type="text" class="form-control" id="campo3">
	 </div>
	</div>
	<div class="row">
	 <div class="form-group col-md-4">
	   <label for="campo1">Campo Quatro</label>
	   <input type="text" class="form-control" id="campo4">
	 </div>
	 
	 <div class="form-group col-md-4">
	   <label for="campo2">Campo Cinco</label>
	   <input type="text" class="form-control" id="campo5">
	 </div>
	 
	 <div class="form-group col-md-4">
	   <label for="campo3">Campo Seis</label>
	   <input type="text" class="form-control" id="campo6">
	 </div>
	</div>
	<div id="actions" class="row">
    	<div class="col-md-12">
      		<button type="submit" class="btn btn-primary">Salvar</button>
      		<a href="./" class="btn btn-default">Cancelar</a>
      		<a href="#" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal">Excluir</a>
   		</div>
	</div>
	<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="modalLabel">Excluir Item</h4>
	      </div>
	      <div class="modal-body">
	        Deseja realmente excluir este item?
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary">Sim</button>
			 <button type="button" class="btn btn-default" data-dismiss="modal">N&atilde;o</button>
	      </div>
	    </div>
	  </div>
	</div>
</form>
{% endblock content %}
		
		