{% extends 'core/baseItens/baseListCRUD.html' %}

{% block 'list' %}
<div id="list" class="row">
    <div class="table-responsive col-md-12">
        <table id="manutListTable" class="table table-striped" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    {% for label in listaLabels %}
                    <th>{{ label }}</th>
                    {% endfor %}
                    <th class="actions">Ações</th>
                 </tr>
            </thead>
            <tbody>
			 {% for r in listaItens %}
				<tr>
				  <th width="50"> {{r.id }}</th>
				  <th> {{r.id_cliente.id }} - {{r.id_cliente.nome }}</th>
				  <th> {{ r.nome_linha }}</th>
				  <td class="actions" width="200">
                      <a class="btn btn-success btn-xs" href="{{manutUrl}}VIEW/{{r.id}}">Visualizar</a>
                      <a class="btn btn-warning btn-xs" href="{{manutUrl}}MOD/{{r.id}}">Editar</a>
                      <a class="btn btn-danger btn-xs"  href="{{manutUrl}}RMV/{{r.id}}">Excluir</a>
                  </td>
				</tr>				
			{% endfor %}
 
            </tbody>
         </table>
 
     </div>
 </div> 
{% endblock 'list' %}

{% block 'advancedFilter' %}
	{% include "core/linha/searchLinha.html" %}
{% endblock 'advancedFilter' %}