{% extends 'core/baseItens/baseCRUD.html' %}
{% load crispy_forms_tags %}

{% block 'crud' %}

<div class="row">	
	<div class="form-group col-md-4">
		<label>Cliente</label>
		<select class="form-control" {{crudFieldsProperties}} name="cliente">
			{% for cliente in clientes %}
            	<option value="{{ cliente.id }}" {% if cliente.id == linha.id_cliente.id %} selected {% endif %} >{{ cliente.id }} - {{ cliente.nome }}</option>
            {% endfor %}
		</select>
	</div>
</div>

<div class="row">	
	<div class="form-group col-md-4">
		<label>Nome</label>
	    <input type="text" class="form-control" id="nomeLinha" name="nomeLinha" required="True" {{crudFieldsProperties}} value="{{linha.nome_linha}}">
	</div>
</div>

<div class="row">
	<div class="form-group col-md-4">
	   <label>Origem</label>
	   <input type="text" class="form-control" id="origem" name="origem" required="True" {{crudFieldsProperties}} value="{{linha.origem}}">
	</div>
</div>

<div class="row">
	<div class="form-group col-md-4">
	   <label>Destino</label>
	   <input type="text" class="form-control" id="destino" name="destino" required="True" {{crudFieldsProperties}} value="{{linha.destino}}">
	</div>
</div>

{% endblock 'crud' %}