{% include "core/cliente/baseSearchCliente.html" %}
<div class="row">	
	<div class="form-group col-md-4">
		<label>Código Linha</label>
	    <input type="text" class="form-control" id="searchIdLinha" name="searchIdLinha" onkeypress='mascaraMutuario(this,onlyNumbers)' 
	          onblur='clearTimeout()' maxlength="18" oninput="mascaraMutuario(this,onlyNumbers)">
	</div>
	<div class="form-group col-md-8">
	   <label>Linha</label>
	   <input type="text" class="form-control" id="searchNomeLinha" name="searchNomeLinha">
	</div>
</div>