{% extends 'core/baseItens/baseListCRUD.html' %}

{% load staticfiles %}

{% block head_script_source %}
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBMrmbLlwhxMUGcakLFmUQ3pjtup4difYI&amp;sensor=false"></script>
    <script src="{% static "core/js/maps.js" %}"></script>
    <script type="text/javascript" src="{% static "core/jqueryUI/jquery-ui.custom.min.js" %}"></script>
{% endblock %}

{% block head_script %}
	$(document).ready(function() {
		atualizaQtdPaginas({{qtdPaginas}});
		if("{{manutUrl}}" == ""){
			$('#lbtnAdd').hide();
		}
		$("#mapModal").on('shown.bs.modal', function () {
			initializeMapMarkers();
	    });
	});	
{% endblock %}


{% block 'list' %}
<div id="list" class="row">
 
    <div class="table-responsive col-md-12">
        <table id="manutListTable" class="table table-striped" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    {% for label in listaLabels %}
                    <th>{{ label }}</th>
                    {% endfor %}
                    <th class="actions">Mapa</th>
                 </tr>
            </thead>
            <tbody>
			 {% for r in listaItens %}
				<tr>
				  <th width="50"> {{r.id }}</th>
				  <th> {{r.id_linha.id_cliente.id }} - {{r.id_linha.id_cliente.nome }}</th>
				  <th> {{r.id_linha.id }} - {{r.id_linha.nome_linha }}</th>
				  <th> {{r.horario_saida }}</th>
				  <th> {{r.horario_chegada }}</th>
				  <th> {% if r.estudante == 1 %} Sim {% else %} Não {% endif %}</th>
				  <th> {% if r.especiais == 1 %} Sim {% else %} Não {% endif %}</th>
				  <th> {% if r.feriado == 1 %} Sim {% else %} Não {% endif %}</th>
				  <td width="180">
                      <a class="btn btn-success btn-xs" onclick="buscaTrajeto({{r.id }})">Visualizar</a>
                  </td>
				</tr>				
			{% endfor %}
            </tbody>
         </table>
 
     </div>
 </div> 

<div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<div class="form-group col-md-12">
					<h2 align="center">Trajeto do Ônibus </h2>
					<input type="hidden" id="buscaEndereco" name="local" class="form-control"/>
					<input type="hidden" id="local" name="local" class="form-control"/>
					<input type="hidden" id="latitude" name="latitude" class="form-control"/>
					<input type="hidden" id="longitude" name="longitude" class="form-control"/>
				</div>
			</div> 
			
			<div class="modal-body">
				<div id="mapa" style="height: 500px; width: 570px"></div>
			</div>
			
			<div class="modal-footer">		   
				<button type="button" class="btn btn-primary" data-dismiss="modal" onclick="setLocation()">Confirmar</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
				<input type="hidden" id="txtLatitude" name="txtLatitude"/>
				<input type="hidden" id="txtLongitude" name="txtLongitude"/>
			</div>      
		</div>
	</div>
</div> 

{% endblock 'list' %}

{% block 'advancedFilter' %}
	{% include "core/rota/searchRota.html" %}
{% endblock 'advancedFilter' %}
 