<div class="row">	
	<div class="form-group col-md-4">
		<label>Código Cliente</label>
	    <input type="text" class="form-control" id="searchIdCliente" name="searchIdCliente" onkeypress='mascaraMutuario(this,onlyNumbers)' 
	           onblur='clearTimeout()' maxlength="18" oninput="mascaraMutuario(this,onlyNumbers)">
	</div>
	<div class="form-group col-md-8">
		<label>Nome Cliente</label>
	    <input type="text" class="form-control" id="searchNomeCliente" name="searchNomeCliente">
	</div>
</div>