{% extends 'core/baseItens/baseCRUD.html' %}

{% load staticfiles%}

{% block head_script_source %}
    <script src="{% static "core/js/masks.js" %}"></script>
{% endblock %}

{% block 'crud' %}
<div class="row">	
	<div class="form-group col-md-4">
		<label for="campo1">Nome</label>
	    <input type="text" class="form-control" id="nome" name="nome" required="True" {{crudFieldsProperties}} value="{{cliente.nome}}">
	</div>
</div>

<div class="row">
	<div class="form-group col-md-4">
	   <label for="campo1">CNPJ</label>
	   <input type="text" class="form-control" id="cnpj" name="cnpj" required="True" {{crudFieldsProperties}} value="{{cliente.cnpj}}"
	          onkeypress='mascaraMutuario(this,mascaraCnpj)' onblur='clearTimeout()' maxlength="18" oninput="mascaraMutuario(this,mascaraCnpj)">
	</div>
</div>

<div class="row">
	<div class="form-group col-md-4">
	   <label for="campo1">E-mail</label>
	   <input type="email" class="form-control" id="email" name="email" required="True" {{crudFieldsProperties}} value="{{cliente.email}}">
	</div>
</div>
	
<div class="row">
	<div class="form-group col-md-4">
	   <label for="campo1">Telefone</label>
	   <input type="text" class="form-control" id="telefone" name="telefone" required="True" {{crudFieldsProperties}} value="{{cliente.telefone}}"
	   		  onkeypress="mascaraMutuario(this,mascaraTelefone)" onblur='clearTimeout()' maxlength="15" oninput="mascaraMutuario(this,mascaraTelefone)">
	</div>
</div>

{% endblock 'crud' %}