{% include "core/cliente/baseSearchCliente.html" %}
<div class="row">
	<div class="form-group col-md-12">
	   <label>CNPJ</label>
	   <input type="text" class="form-control" id="searchCnpjCliente" name="searchCnpjCliente" onkeypress='mascaraMutuario(this,mascaraCnpj)' 
	          onblur='clearTimeout()' maxlength="18" oninput="mascaraMutuario(this,mascaraCnpj)">
	</div>
</div>