{% include "core/linha/searchLinha.html" %}

<div class="row">
	<div class="form-group col-md-4">
		<label>Código Rota</label>
	    <input type="text" class="form-control" id="searchIdRota" name="searchIdRota" onkeypress='mascaraMutuario(this,onlyNumbers)' 
	          onblur='clearTimeout()' maxlength="18" oninput="mascaraMutuario(this,onlyNumbers)">
	</div>
	<div class="form-group col-md-4">
		<label>Saída</label>
	    <input type="time" class="form-control" width="25" id="saida" name="saida">
	</div>
	<div class="form-group col-md-4">
	   <label>Chegada</label>
	   <input type="time" class="form-control" width="25" id="chegada" name="chegada">
	</div>
</div>

