{% extends 'core/baseItens/baseCRUD.html' %}
{% load crispy_forms_tags %}

{% block 'crud' %}

<div class="row">	
	<div class="form-group col-md-4">
		<label>Cliente</label>
		<select class="form-control" {{crudFieldsProperties}} name="cliente" onChange="buscaLinhas(this.value)">
			{% for cliente in clientes %}
            	<option value="{{ cliente.id }}" {% if cliente.id == rota.id_linha.id_cliente.id %} selected {% endif %} >{{ cliente.id }} - {{ cliente.nome }}  </option>
            {% endfor %}
		</select>
	</div>
</div>

<div class="row">	
	<div class="form-group col-md-4">
		<label>Linha</label>
		<select class="form-control" {{crudFieldsProperties}} name="linha" id="cbLinha">
			{% for linha in linhas %}
            	<option value="{{ linha.id }}" {% if linha.id == rota.id_linha.id %} selected {% endif %} >{{ linha.id }} - {{ linha.nome_linha }}  </option>
            {% endfor %}
		</select>
	</div>
</div>

<div class="row">	
	<div class="form-group col-md-1">
		<label>Saída</label>
	    <input type="time" class="form-control" width="25" id="saida" name="saida" required="True" {{crudFieldsProperties}} value="{{rota.horario_saida}}">
	</div>
	<div class="form-group col-md-1">
	   <label>Chegada</label>
	   <input type="time" class="form-control" width="25" id="chegada" name="chegada" required="True" {{crudFieldsProperties}} value="{{rota.horario_chegada}}">
	</div>
</div>

<label for="campo1">Tipo de Rota</label>
<div class="row">
	<div class="form-group col-md-4">
	   <label class="checkbox-inline"><input type="checkbox" name="estudante" {% if rota.estudante %} checked {% endif %} {{crudFieldsProperties}}>Estudante</label>
	   <label class="checkbox-inline"><input type="checkbox" name="especiais" {% if rota.especiais %} checked {% endif %} {{crudFieldsProperties}}>Portado para usuários com necessidades especiais</label>
	</div>
</div>

<label for="campo1">Dias de Operação</label>
<div class="row">
	<div class="form-group col-md-9">
	   <label class="checkbox-inline"><input type="checkbox" name="domingo" {% if rota.domingo %} checked {% endif %} {{crudFieldsProperties}}>Domingo</label>
	   <label class="checkbox-inline"><input type="checkbox" name="segunda" {% if rota.segunda %} checked {% endif %} {{crudFieldsProperties}}>Segunda</label>
	   <label class="checkbox-inline"><input type="checkbox" name="terca" {% if rota.terca %} checked {% endif %} {{crudFieldsProperties}}>Terça</label>
	   <label class="checkbox-inline"><input type="checkbox" name="quarta" {% if rota.quarta %} checked {% endif %} {{crudFieldsProperties}}>Quarta</label>
	   <label class="checkbox-inline"><input type="checkbox" name="quinta" {% if rota.quinta %} checked {% endif %} {{crudFieldsProperties}}>Quinta</label>
	   <label class="checkbox-inline"><input type="checkbox" name="sexta" {% if rota.sexta %} checked {% endif %} {{crudFieldsProperties}}>Sexta</label>
	   <label class="checkbox-inline"><input type="checkbox" name="sabado" {% if rota.sabado %} checked {% endif %} {{crudFieldsProperties}}>Sábado</label>
	   <label class="checkbox-inline"><input type="checkbox" name="feriado" {% if rota.feriado %} checked {% endif %} {{crudFieldsProperties}}>Feriados</label>
	</div>
</div>

{% endblock 'crud' %}