{% include "core/rota/baseSearchRota.html" %}
<div class="row">
	<div class="form-group col-xs-4">
	   <label class="checkbox-inline"><input type="checkbox" id="especiais" name="especiais">Especiais</label>
	</div>
	<div class="form-group col-xs-2">
	   <label class="checkbox-inline"><input type="checkbox" id="estudantes" name="estudantes">Estudante</label>
	</div>
</div>

<div class="row">
	<div class="form-group col-xs-2">
	   <label class="checkbox-inline"><input type="checkbox" id="sabado" name="sabado">Sábado</label>
	</div>
	<div class="form-group col-xs-2">
	   <label class="checkbox-inline"><input type="checkbox" id="domingo"  name="domingo">Domingo</label>
	</div>
	<div class="form-group col-xs-2">
	   <label class="checkbox-inline"><input type="checkbox" id="feriado" name="feriado">Feriados</label>
	</div>
</div>

<div class="row">
	
    <div class="form-group col-xs-2">
	   <label class="checkbox-inline"><input type="checkbox" id="segunda" name="segunda">Segunda</label>
	</div>
	<div class="form-group col-xs-2">
	   <label class="checkbox-inline"><input type="checkbox" id="terca" name="terca">Terça</label>
	</div>
	<div class="form-group col-xs-2">
	   <label class="checkbox-inline"><input type="checkbox" id="quarta" name="quarta">Quarta</label>
	</div>
	<div class="form-group col-xs-2">
	   <label class="checkbox-inline"><input type="checkbox" id="quinta" name="quinta">Quinta</label>
	</div>
	<div class="form-group col-xs-2">
	   <label class="checkbox-inline"><input type="checkbox" id="sexta" name="sexta">Sexta</label>
	</div>
	
</div>