.ui-autocomplete { 
		background: #fff; 
		border-top: 1px solid #ccc;
		cursor: pointer; 
		font: 15px 'Open Sans',Arial;
		margin-left: 3px;
		width: 493px !important;
		position: fixed;
		z-index: 2000;
	}
	
	.ui-autocomplete .ui-menu-item { 
		list-style: none outside none;
		padding: 7px 0 9px 10px;
		z-index: 2000;
	}
	
	.ui-autocomplete .ui-menu-item:hover { background: #eee }
	
	.ui-autocomplete .ui-corner-all { 
		color: #666 !important;
		display: block;
		z-index: 2000;
	}
	
	.ui-menu {
		list-style:none;
		padding: 2px;
		margin: 0;
		display:block;
		float: left;
	}
	.ui-menu .ui-menu {
		margin-top: -3px;
	}
	.ui-menu .ui-menu-item {
		margin:0;
		padding: 0;
		zoom: 1;
		float: left;
		clear: left;
		width: 100%;
	}
	.ui-menu .ui-menu-item a {
		text-decoration:none;
		display:block;
		padding:.2em .4em;
		line-height:1.5;
		zoom:1;
	}
	
	.ui-menu .ui-menu-item a.ui-state-hover,
	.ui-menu .ui-menu-item a.ui-state-active {
		font-weight: bold;
		margin: -1px;			
		color: #ffffff;
	    text-decoration: none;
	    background-color: #D8D8D8;
	    border-radius: 0px;
	    -webkit-border-radius: 0px;
	    -moz-border-radius: 0px;
	    background-image: none;
	}