{% extends 'core/baseItens/newBase.html' %}

{% block head_script %}
	$(document).on("submit", "form", function(event){
		event.preventDefault();
		validateSubmit();
	});	
	{% block crud_head_script %}{% endblock %}
{% endblock %}

{% block content %}
<h3 class="page-header">{{CRUDTitle}} {{ title }}</h3>
<form id="manutForm" method="POST"> {% csrf_token %}
	
	{% block 'crud' %}
	{% endblock %}
	
	<div id="actions" class="row">
    	<div class="col-md-12">
      		<button type="submit" class="btn btn-primary" {{saveButtonProperties|safe}}>Salvar </button>
      		<a href="#" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal" {{removeButtonProperties|safe}}>Remover</a>
      		<a href="{{crudListUrl}}" class="btn btn-default">{{returnButtonLabel}}</a>      		
   		</div>
	</div>
	
	<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
 					<button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="modalLabel">Atenção!!!</h4>
				</div>
				<div class="modal-body">
					Deseja realmente remover este {{title}}?
				</div>
				<div class="modal-footer">
					<button id="b" type="submit" class="btn btn-primary">Sim</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">N&atilde;o</button>
				</div>
			</div>
		</div>
	</div>
</form>
{% endblock content %}