{% extends 'core/baseItens/newBase.html' %}

{% load staticfiles%}

{% block head_script_source %}
    <script src="{% static "core/js/tableFilter.js" %}"></script>
    {% block list_head_script_source %}{% endblock %}
{% endblock %}

{% block head_script %}
	$(document).ready(function() {
		$('.dropdown-menu').click(function(e) {
			if(   $(event.target).is('label')
			   || $(event.target).is('input')
			   || $(event.target).is('div')){
			    e.stopPropagation();
			}
		});
		atualizaUrlBusca("{{searchUrl}}");
	});

	$(function() {
		atualizaQtdPaginas({{qtdPaginas}});
	});
	{% block list_head_script %}{% endblock %}
{% endblock %}

{% block specific_style %}
<style>
	#adv-search {
        width: 500px;
        margin: 0 auto;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
</style>
{% endblock %}

{% block content %}

<form action="" method="POST"> {% csrf_token %}
	<div id="main" class="container-fluid">
		<div id="top" class="row">
		
			<div class="col-md-1">
				<i class="fa {{pageIcon}} fa-5x"></i>
			</div>
			
			<div class="col-sm-5">
				<h2>{{ pageTitle }}</h2>
			</div>	
		</div>
		
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-offset-3">
		            <div class="input-group" id="adv-search">
		                <input id="searchFilter" name="searchFilter" type="text" class="form-control" placeholder="Pesquisar..."/>
		                <div class="input-group-btn">
		                    <div class="btn-group" role="group">
		                        <div class="dropdown dropdown-lg">
		                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" onclick="openAdvSearch()">
		                            Filtro Avançado
		                            <span class="caret"></span></button>
		                            <div id="advFilterDiv" class="dropdown-menu dropdown-menu-right" role="menu">
		                            	<form class="form-horizontal" role="form">
		                            		<div class="container-fluid">
			                                	{% block 'advancedFilter' %}
			 									{% endblock %}
		 										<div class="control-group pull-right">
		 											<button class="btn btn-default" type="button" onclick="clearData()">
														Limpar Filtro
													</button>
													<button class="btn btn-primary" type="button" onclick="setSearchData()">
														Pesquisar
													</button>
			                            		</div>
		                        			</div>
										</form>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
	          	</div>
	          	<div class="col-md-3 col-md-offset-10">
					<a id="lbtnAdd" href="{{ manutUrl|safe }}ADD" class="btn btn-primary pull-right h2">Adicionar {{title}}</a>
				</div>	
	        </div>
		</div>
	 
		<hr/>
	     
	     {% block 'list' %}
		 {% endblock %}
	
		<div id="bottom" class="row">
			<div class="col-md-12" align="center">		         
				<ul class="pagination">
					<li class="previous" onclick="showPreviousRecords()" id="btnPrevious"><a>Anterior</a></li>
					{% for x in loopPaginas %}		            	
						<li onclick="showPage({{x}})" id="page{{x}}"><a>{{x}}</a></li>
					{% endfor %}
					<li class="next" onclick="showNextRecords()" id="btnNext"><a rel="next">Próximo</a></li>
				</ul><!-- /.pagination -->
			</div>
		</div> <!-- /#bottom -->
	</div>  <!-- /#main -->
</form>
{% endblock content %}