{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="">
	    <meta name="author" content="">
	    <title>EasyBus - Uma aplicação amigavel aos usuários de transporte coletivo =)</title>
	    <link href="{% static "core/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
		<link href="{% static "core/bootstrap/css/font-awesome.min.css" %}" rel="stylesheet">
		<link href="{% static "core/css/sidebar.css" %}" rel="stylesheet">
		<link href="{% static "core/css/core.css" %}" rel="stylesheet">
		<link href="{% static "core/animate/animate.css" %}" rel="stylesheet">
		{% block head_style_source %}{% endblock %}
		<script src="{% static "core/jquery/js/jquery.min.js" %}"></script>
		<script src="{% static "core/js/sidebar.js" %}"></script>
		<script src="{% static "core/js/messages.js" %}"></script>
		<script src="{% static "core/noty/jquery.noty.packaged.min.js" %}"></script>
		<!-- <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.js"></script> -->
		{% block head_script_source %}{% endblock %}
		<script>
			$(document).ready(function() {
				selectTab(window.location.href);  
				var messages = window.sessionStorage.getItem('successMessages');
				messages = $.map(JSON.parse(messages), function(el) { return el });
				if(messages != null && messages.length > 0){
					(function myLoop (i) {          
						setTimeout(function () {   
							dispSuccess('',messages[(i * -1) + messages.length]);
							if (--i) myLoop(i);
						},500)
					})(messages.length);
					window.sessionStorage.removeItem('successMessages');
				}
				
			});			
			{% block head_script %}{% endblock %}
		</script>
		{% block specific_style %}{% endblock %}
	</head>
	<body>
		<div id="navSpace">
			<nav id="myNav" class="navbar navbar-inverse no-margin">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="#">
							<span class="fa fa-bus fa-stack-1x"/>
							EasyBus
							<span class="fa fa-bus"/>											
						</a>
					</div>
					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="/logoutUser">Logout</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	    <div id="wrapper">
	        <div id="sidebar-wrapper">
	            <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
	                <li id="linkCliente">
	                    <a href="/manutCliente/"><span class="fa-stack fa-lg pull-left"><i class="fa fa-users fa-stack-1x "></i></span>Clientes</a>
	                    <!-- <ul class="nav-pills nav-stacked" style="list-style-type:none;">
	                        <li><a href="#">link1</a></li>
	                        <li><a href="#">link2</a></li>
	                    </ul> -->
	                </li>
	                <li id="linkLinha">
	                    <a href="/manutLinha/"><span class="fa-stack fa-lg pull-left"><i class="fa fa-road fa-stack-1x "></i></span>Linhas</a>
	                </li>
	                <li id="linkRota">
	                    <a href="/manutRota/"><span class="fa-stack fa-lg pull-left"><i class="fa fa-map fa-stack-1x "></i></span>Rotas</a>
	                </li>
	                <li id="linkItinerario">
	                    <a href="/manutItinerario"> <span class="fa-stack fa-lg pull-left"><i class="fa fa-street-view fa-stack-1x "></i></span>Itinerarios</a>
	                </li>
	                
	                <li id="linkTrajeto">
	                    <a href="/manutTrajeto"> <span class="fa-stack fa-lg pull-left"><i class="fa fa-random fa-stack-1x "></i></span>Trajetos</a>
	                </li>
	            </ul>
	        </div>
	        <div id="page-content-wrapper">
	           	{% block content %}
				{% endblock %}
	        </div>
	    </div>
		<script src="{% static "core/bootstrap/js/bootstrap.min.js" %}"></script>
		<script type="text/javascript" src="{% static 'core/js/core.js' %}"></script>
		{% block foot_script %}{% endblock %}
	</body>
</html>