{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
	    <meta charset="UTF-8">
	    <title>EasyBus - Uma aplicação amigavel aos usuários de transporte coletivo =)</title>
	    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
	    <link rel="stylesheet" href="{% static "core/login/css/normalize.css" %}">
		<link rel="stylesheet" href="{% static "core/login/css/style.css" %}">
		<link rel="stylesheet" href="{% static "core/animate/animate.css" %}">
		<script src="{% static "core/jquery/js/jquery.min.js" %}"></script>
		<script src="{% static "core/noty/jquery.noty.packaged.min.js" %}"></script>
		<script type="text/javascript" src="{% static 'core/js/core.js' %}"></script>
		<script src="{% static "core/js/messages.js" %}"></script>
		
		<script>
			$(document).on("submit", "form", function(event){
				event.preventDefault();
				validateSubmit();
			});
			
			$(document).ready(function(){
				
				setStartPageForm($("#loginForm"));
				manutUrl = "loginUser/";
				
				$("#registerTab").click(function(){
					setStartPageForm($("#registerForm"));
					manutUrl = "register/";
				});
				
				$("#loginTab").click(function(){
					setStartPageForm($("#loginForm"));
					manutUrl = "loginUser/";
				});
			});
		</script>
	</head>
	<body>
    	<div class="pseudoform">
			<ul class="tab-group" id="sampleTabs">
					<li id="loginTab"    class="tab active"><a href="#login">Acessar</a></li>
					<li id="registerTab" class="tab"><a href="#register">Registrar-se</a></li>
			</ul>
			<div class="tab-content">
				<div id="login">   
					<h1>Bem-vindo de Volta!</h1>
					<form id="loginForm" method="post">  {% csrf_token %}
						<div class="field-wrap">
							<label>
								Email ou Usuário<span class="req">*</span>
							</label>
							<input id="userEntry" name="userEntry" type="text" required autocomplete="off"/>
						</div>
						<div class="field-wrap">
							<label>
								Senha<span class="req">*</span>
							</label>
							<input id="userPassword" name="userPassword" type="password" required autocomplete="off"/>
						</div>
							<p class="forgot"><a href="#">Esqueceu sua Senha?</a></p>
						<button class="button button-block"/>Acessar!</button>
					</form>
				</div> <!-- login -->
				<div id="register">   
					<h1>Cadastro EasyBus</h1>
					<form id="registerForm" method="POST"> {% csrf_token %}
						<div class="field-wrap">
							<label>
								Usuário<span class="req">*</span>
							</label>
							<input id="userName" name="userName" type="text" class="form-control" required autocomplete="off" />
						</div>
						<div class="field-wrap">
							<label>
								Email<span class="req">*</span>
							</label>
							<input id="email" name="email" type="email" class="form-control" required autocomplete="off"/>
						</div>
						<div class="field-wrap">
							<label>
								Senha<span class="req">*</span>
							</label>
							<input id="password" name="password" type="password" class="form-control" required autocomplete="off"/>
						</div>
						<button type="submit" class="button button-block"/>Registrar!</button>
					</form>
				</div> <!-- signup -->    
      		</div><!-- tab-content -->
		</div> <!-- /form -->
		<script src="{% static "core/login/js/index.js" %}"></script>
	</body>
</html>
