{% extends 'core/baseItens/baseListCRUD.html' %}

{% block 'list' %}
<div id="list" class="row">
    <div class="table-responsive col-md-12">
        <table id="manutListTable" class="table table-striped" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    {% for label in listaLabels %}
                    <th>{{ label }}</th>
                    {% endfor %}
                    <th class="actions">Ações</th>
                </tr>
            </thead>
            <tbody>
              {% for r in listaItens %}
                <tr>
                <th> {{r.id_rota.id_linha.id_cliente.id }} - {{r.id_rota.id_linha.id_cliente.nome }}</th>
                <th> {{r.id_rota.id_linha.id }} - {{r.id_rota.id_linha.nome_linha }}</th>
                <th> {{r.id_rota.id}} - {{r.id_rota.horario_saida}} / {{r.id_rota.horario_chegada}}</th>
                <th> {{r.horario }}</th>
                <th> {{r.sequencia }}</th>
                <th> {% if r.parada == 1 %} Sim {% else %} Não {% endif %}</th>
                <th> {{r.local }}</th>				  
                  <td class="actions" width="200">
                    <a class="btn btn-success btn-xs" href="{{manutUrl}}VIEW/{{r.id}}">Visualizar</a>
                    <a class="btn btn-warning btn-xs" href="{{manutUrl}}MOD/{{r.id}}">Editar</a>
                    <a class="btn btn-danger btn-xs"  href="{{manutUrl}}RMV/{{r.id}}">Excluir</a>
                  </td>
                </tr>				
              {% endfor %}
            </tbody>
         </table>
     </div>
</div> 
{% endblock 'list' %}

{% block 'advancedFilter' %}
	{% include "core/itinerario/searchItinerario.html" %}
{% endblock 'advancedFilter' %}