{% extends 'core/baseItens/baseCRUD.html' %}

{% load staticfiles%}

{% block head_style_source %}
	<link href="{% static "core/css/autoComplete.css" %}" rel="stylesheet">
{% endblock %}

{% block head_script_source %}
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBMrmbLlwhxMUGcakLFmUQ3pjtup4difYI&amp;sensor=false"></script>
    <script src="{% static "core/js/maps.js" %}"></script>
    <script type="text/javascript" src="{% static "core/jqueryUI/jquery-ui.custom.min.js" %}"></script>
{% endblock %}

{% block crud_head_script %}
	function abrirMapa(){
		$('#mapModal').modal('show');
	}
	
	$(document).ready(function() {
		$("#mapModal").on('shown.bs.modal', function () {
			oldLat = "{{itinerario.latitude}}";
			oldLng = "{{itinerario.longitude}}";
			oldAddress = "{{itinerario.local}}";
			initializeMapComponents();
	    });
	});
		
{% endblock %}

{% block 'crud' %}
<div class="row">	
	<div class="form-group col-md-4">
		<label for="campo1">Cliente</label>
		<select class="form-control" {{crudFieldsProperties}} onChange="buscaLinhas(this.value)" id="cbCliente">
			{% for cliente in clientes %}
            	<option value="{{ cliente.id }}" {% if cliente.id == itinerario.id_rota.id_linha.id_cliente.id %} selected {% endif %} >{{ cliente.id }} - {{ cliente.nome }}  </option>
            {% endfor %}
		</select>
	</div>
</div>

<div class="row">	
	<div class="form-group col-md-4">
		<label for="campo1">Linha</label>
		<select class="form-control" {{crudFieldsProperties}} name="linha" id="cbLinha" onChange="buscaRotas(this.value)">
			{% for linha in linhas %}
            	<option value="{{ linha.id }}" {% if linha.id == itinerario.id_rota.id_linha.id %} selected {% endif %} >{{ linha.id }} - {{ linha.nome_linha }}  </option>
            {% endfor %}
		</select>
	</div>
</div>
		
<div class="row">	
	<div class="form-group col-md-4">
		<label for="campo1">Rota</label>
		<select class="form-control" {{crudFieldsProperties}} name="rota" id="cbRota">
			{% for rota in rotas %}
            	<option value="{{ rota.id }}" {% if rota.id == itinerario.id_rota.id %} selected {% endif %} >
            		Saída {{ rota.horario_saida }} - Chegada {{ rota.horario_chegada }} 
            	</option> 
            {% endfor %}
		</select>
	</div>
</div>

<div class="row">
	<div class="form-group col-md-4">
	   <label for="campo1">Sequência</label>
	   <input type="text" class="form-control" id="sequencia" name="sequencia" required="True" {{crudFieldsProperties}} value="{{itinerario.sequencia}}">
	</div>
</div>

<div class="row">
	<div class="form-group col-md-1">
	   <label for="campo1">Horário</label>
	   <input type="time" class="form-control" width="20" id="horario" name="horario" required="True" {{crudFieldsProperties}} value="{{itinerario.horario}}">
	</div>
</div>

<div class="row">
	<div class="form-group col-md-1">
		<a class="btn btn-default" id="btnOpenMap" onclick="abrirMapa()">Definir Local</a>   
	</div>
</div>

<div class="row">
	<div class="form-group col-md-9">
	   <label class="checkbox-inline"><input type="checkbox" name="parada" {% if itinerario.parada %} checked {% endif %} {{crudFieldsProperties}}>Parada de Ônibus</label>
  	</div>
</div>

<div class="row" style="display: none;">
	<div class="form-group col-md-1">
		<input type="text" id="local" name="local" class="form-control" value="{{itinerario.local}}"/>
		<input type="text" id="latitude" name="latitude" class="form-control" value="{{itinerario.latitude}}"/>
		<input type="text" id="longitude" name="longitude" class="form-control" value="{{itinerario.longitude}}"/>
	</div>
</div>

<div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<div class="form-group col-md-12">
					<label for="campo1">Digite o Endereço: </label>
					<input type="text" id="buscaEndereco" name="local" class="form-control" value="{{itinerario.local}}"/>
				</div>
			</div> 
			
			<div class="modal-body">
				<div id="mapa" style="height: 500px; width: 570px"></div>
			</div>
			
			<div class="modal-footer">		   
				<button type="button" class="btn btn-primary" onclick="setLocation()" data-dismiss="modal" >Confirmar</button>
				<button type="button" class="btn btn-default" data-dismiss="modal" >Cancelar</button>
				<input type="hidden" id="txtLatitude" name="txtLatitude" value="{{itinerario.latitude}}"/>
				<input type="hidden" id="txtLongitude" name="txtLongitude" value="{{itinerario.longitude}}"/>
			</div>      
		</div>
	</div>
</div>
 
{% endblock 'crud' %}
