{% include "core/rota/baseSearchRota.html" %}

<div class="row">	
	<div class="form-group col-xs-2">
		<label>Sequência</label>
	    <input type="text" class="form-control" id="searchSequenciaItinerario" name="searchSequenciaItinerario" onkeypress='mascaraMutuario(this,onlyNumbers)' 
	          onblur='clearTimeout()' maxlength="18" oninput="mascaraMutuario(this,onlyNumbers)">
	</div>
	<div class="form-group col-xs-3">
	   <label>Horário</label>
	   <input type="time" class="form-control" width="25" id="horarioItinerario" name="horarioItinerario">
	</div>
	<div class="form-group col-md-7">
	   <label>Local</label>
	   <input type="text" class="form-control" id="searchLocal" name="searchLocal">
	</div>
</div>